<div class="container-fluid">
	<div *ngIf='game.gameStatus == GameStatus.NOT_STARTED'>
		<h3>What would you like to do first?</h3>
		<button type="button" class="btn btn-primary btn-lg" (click)='choseToBat()'>Batting</button>
		<button type="button" class="btn btn-success btn-lg" (click)='choseToBowl()'>Bowling</button>
	</div>

	<div *ngIf='game.gameStatus != GameStatus.NOT_STARTED'>

		<!-- ###### Row 1 ####### -->
		<div class="row">
			<div class="col-xs-6">
				<gameplay [user]='user' [computer]='computer' [game]='game'></gameplay>
			</div>

			<div class="col-xs-6">
				<game-update [updates]='game.updates'></game-update>
			</div>

		</div>
	<!-- ##### Row 1 End ##### -->

	<!-- ###### Row 2 ######## -->
	<div class="row">
		<div *ngIf="user.runs != undefined || computer.runs != undefined">

			<div class="col-xs-6">
				<score-board [user]='user' [computer]='computer'></score-board>
			</div>

			<div class="col-xs-6" *ngIf='getBatsman().runs'>
				<progress-bar [currentScore]='getBatsman().runs' [targetScore]='game.targetScore'></progress-bar>
			</div>

		</div>
	</div>
	<!-- ##### Row 2 End ######### -->

</div>
</div>
