<div>

  <h3 class='text-blue'>How To Play?</h3>

  <div>
    <p>
      It is a two player game. One person bats while the other person bowls. A player can play any number between 0 to 6. [0, 1, 2, 3, 4, 5, 6]
    </p>
    <p>
      Batsman and Bowler input a random number each. If the numbers match, batsman is out else batsman's input is added to his total score as runs.
    </p>
    <p>
      If batsman plays 0 and bowler plays a number other than 0, bowler's input is added to batsman's score.
    </p>
    <p>
      When batsman gets out, batsman becomes bowler and bowler becomes batsman. Whoever scores the highest runs wins.
    </p>
  </div>

  <div>
    <h4 class='text-red'>Example</h4>
    <ul>
      <li>Batsman plays 5, bowler plays 4. Batsman scores 5 runs.</li>
      <li>Batsman plays 0, bowler plays 3. Batsman scores 3 runs, total of 8 runs.</li>
      <li>Batsman plays 6, bowler plays 6. Batsman is out with a total of 8 runs.</li>
    </ul>
  </div>

</div>
