<h3>Online Game Status</h3>

<div *ngIf='(gameService.isGameInProgress())'>
  <div class="alert alert-info" role="alert" *ngIf='playerService.isBatsman()'>You are now BATTING</div>
  <div class="alert alert-warning" role="alert" *ngIf='playerService.isBowler()'>You are now BOWLING</div>
</div>
<div *ngIf='playerService.currentPlayerWon()' class="alert alert-success" role="alert">
  Game Over! You Won
</div>
<div *ngIf='playerService.currentPlayerLost()' class="alert alert-danger" role="alert">
  Game Over! You Lost
</div>
<div *ngIf='gameService.isGameDraw()' class="alert alert-warning" role="alert">
  Game Over! Game is Draw
</div>
