<game-selection [game]='game' [player]='player'></game-selection>

<p>Player ID: {{player.id}}</p>
<p>Connection Status: {{ isOnline() }}</p>

<div>
  <button *ngIf='!isOnline()' (click)='connect()'>Connect</button>
  <button *ngIf='isOnline()' (click)='disconnect()'>Diconnect</button>
</div>
<br />
<input type="text" [(ngModel)]='name' />
<button *ngIf='isOnline()' (click)='send()'>Send Message</button>

<hr />
<h4>Messages</h4>
<div>
  <p *ngFor='let message of messages'>
    {{message}}
  </p>
</div>
