<p>Player ID: {{player.id}}</p>
<p>Connection Status: {{ isOnline() }}</p>

<div>
  <button *ngIf='!isOnline()' (click)='connect()'>Connect</button>
  <button *ngIf='isOnline()' (click)='disconnect()'>Diconnect</button>
</div>

<hr />
<join-game *ngIf='isOnline()' [game]='game' [player]='player'></join-game>
<hr />
<chat *ngIf='gameSequenceService.isHostOrJoinDone' [game]='game' [player]='player'></chat>


<!-- <br />
<input type="text" [(ngModel)]='name' />
<button *ngIf='isOnline()' (click)='send()'>Send Message</button>


<h4>Messages</h4>
<div>
  <p *ngFor='let message of messages'>
    {{message}}
  </p>
</div> -->
