<div>

  <div class="row">

    <div class="col-xs-6">
      <h3>Live Gameplay</h3>
      <online-game-status></online-game-status>
      <div class="form-group well well-sm">
        <label for="lastPlayedInput">Your Input: </label>
        <input name='input' [(ngModel)]='input' type='number' />
        <button type="submit" class="btn btn-success"
          (click)='sendInput()' [disabled]='!playEnabled()'>Play</button>
      </div>
    </div>

    <div class="col-xs-6">
      <h3>Game Updates</h3>
        <div *ngIf="playService.hightlight" class="alert alert-danger">
          {{playService.hightlight}}
        </div>
        <div *ngIf="playService.notice" class="alert alert-warning">
          {{playService.notice}}
        </div>
    </div>

  </div>

  <div class="row">
    <div class="col-md-6">
      <online-score-board></online-score-board>
    </div>
    <div class="col-md-6">
      <chat></chat>
    </div>
  </div>

</div>
