<div class='row'>

  <!-- <div class='col-md-6'> -->
    <div class="row text-center">

      <div class="col-xs-5" [@leftColumn]='gameAS.gameRestart'>
        <play-table
          [player]='playerService.getCurrentPlayer()'
          [otherPlayer]='playerService.getOtherPlayer()'
          [game]='gameService.getGame()'
          [notice]='playService.notice'
          [playerNotice]='playService.getCurrentPlayerNotice()'>
        </play-table>
      </div>

      <div class="col-xs-2">
        <progress-bar
          [player]='playerService.getCurrentPlayer()'
          [otherPlayer]='playerService.getOtherPlayer()'
          [game]='gameService.getGame()'
          [playerHeight]='progressBarService.getBarHeight(playerService.getCurrentPlayer().runs, gameService.getGame().targetScore)'
          [otherPlayerHeight]='progressBarService.getBarHeight(playerService.getOtherPlayer().runs, gameService.getGame().targetScore)'>
        </progress-bar>
      </div>

      <div class="col-xs-5" [@rightColumn]='gameAS.gameRestart'>
        <play-table
          [player]='playerService.getOtherPlayer()'
          [otherPlayer]='playerService.getCurrentPlayer()'
          [game]='gameService.getGame()'
          [notice]='playService.notice'
          [playerNotice]='playService.getOtherPlayerNotice()'>
        </play-table>
      </div>

    </div>

    <div class='row text-center' style="padding-right:50px">
        <span *ngIf='gameService.isGameInProgress()'>
          <numpad (numPressedEvent)='clickInput($event)' [disable]='!playEnabled()'></numpad>
        </span>

        <span *ngIf='!gameService.isGameInProgress()'>
          <button (click)='restartGame()' class="btn btn-danger btn-lg" [@restartButton]>Restart Game</button>
        </span>

        <span class="chat-notification text-primary" (click)='chatService.openChat()'>
          <span class="glyphicon glyphicon-comment"></span>
        </span>
        <span *ngIf='chatService.newMessages' class="chat-notification-icon" id="badge"
          (click)='chatService.openChat()'>
          <a class="badge-num">{{chatService.newMessages}}</a>
        </span>

    </div>

  </div>
