.glyphicon-comment {
  font-size: 50px;
  position: absolute;
  left: 5px;
  top: -11px;
}

.chat-notification {
  position: relative;
  cursor: pointer;
}

.chat-notification p {
  position: absolute;
  font-size: 17px;
  left: 30px;
  top: -6px;
}

.badge {
  color: #337ab7;
  background-color: #ffffff;
}

.notice {
  color: #23d5ff;
}

.last-played {
  color: #ffa900;
}

/* Chat Notification Pop */
.chat-notification-icon {position:relative;-webkit-perspective: 1000;-webkit-backface-visibility: hidden;}
.badge-num {
  box-sizing:border-box;
  font-family: 'Trebuchet MS', sans-serif;
  background: #ff0000;
  cursor:default;
  border-radius: 50%;
  color: #fff;
  font-weight:bold;
  font-size: 13px;
  height: 25px;
  letter-spacing:-1px;
  line-height:1.55em;
  top:-15px;
  right:-60px;
  border:3px solid #fff;
  position: absolute;
  width: 25px;
  box-shadow: 1px 1px 5px rgba(0,0,0, .2);
  animation: pulse 1s 1;
  animation-iteration-count: infinite;
}
.badge-num:after {
  content: '';
  position: absolute;
  top:-2px;
  left:-2px;
  border:2px solid rgba(255,0,0,.5);
  opacity:0;
  border-radius: 50%;
  width:100%;
  height:100%;
  animation: sonar 1.5s 1;
  animation-iteration-count: infinite;
}
@keyframes sonar {
  0% {transform: scale(.9); opacity:1;}
  100% {transform: scale(2);opacity: 0;}
}
@keyframes pulse {
  0% {transform: scale(1);}
  20% {transform: scale(1.4); }
  50% {transform: scale(.9);}
  80% {transform: scale(1.2);}
  100% {transform: scale(1);}
}
