<div class='row'>

  <!-- <div class='col-md-6'> -->
    <div class="row text-center">

      <div class="col-xs-5" [@leftColumn]='gameAS.gameRestart'>
        <play-table [player]='playerService.getCurrentPlayer()'
                    [otherPlayer]='playerService.getOtherPlayer()'
                    [game]='gameService.getGame()'
                    [notice]='playService.notice'
                    [playerNotice]='playService.getCurrentPlayerNotice()'>
        </play-table>
      </div>

      <div class="col-xs-2">
        <div class="row">
          <div class="progress progress-bar-vertical">
            <div class="progress-bar" role="progressbar" aria-valuenow="gameService.getGame().batsman.runs"
              aria-valuemin="0" aria-valuemax="gameService.getGame().targetScore"
              [style.height]="progressBarService.getBarHeight(playerService.getCurrentPlayer().runs, gameService.getGame().targetScore)+ '%'">
              {{playerService.getCurrentPlayer().runs}}
            </div>
            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="gameService.getGame().batsman.runs"
              aria-valuemin="0" aria-valuemax="gameService.getGame().targetScore"
              [style.height]="progressBarService.getBarHeight(playerService.getOtherPlayer().runs, gameService.getGame().targetScore) + '%'">
              {{playerService.getOtherPlayer().runs}}
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-5" [@rightColumn]='gameAS.gameRestart'>
        <play-table [player]='playerService.getOtherPlayer()'
                    [otherPlayer]='playerService.getCurrentPlayer()'
                    [game]='gameService.getGame()'
                    [notice]='playService.notice'
                    [playerNotice]='playService.getOtherPlayerNotice()'>
        </play-table>
      </div>

    </div>

    <div class='row text-center' style="padding-right:50px">
        <span *ngIf='gameService.isGameInProgress()'>
          <button class="btn btn-success" (click)='clickInput(0)' [@inputButton]='gameAS.inputs[0]' [disabled]='!playEnabled()'>0</button>
          <button class="btn btn-success" (click)='clickInput(1)' [@inputButton]='gameAS.inputs[1]' [disabled]='!playEnabled()'>1</button>
          <button class="btn btn-success" (click)='clickInput(2)' [@inputButton]='gameAS.inputs[2]' [disabled]='!playEnabled()'>2</button>
          <button class="btn btn-success" (click)='clickInput(3)' [@inputButton]='gameAS.inputs[3]' [disabled]='!playEnabled()'>3</button>
          <button class="btn btn-success" (click)='clickInput(4)' [@inputButton]='gameAS.inputs[4]' [disabled]='!playEnabled()'>4</button>
          <button class="btn btn-success" (click)='clickInput(5)' [@inputButton]='gameAS.inputs[5]' [disabled]='!playEnabled()'>5</button>
          <button class="btn btn-success" (click)='clickInput(6)' [@inputButton]='gameAS.inputs[6]' [disabled]='!playEnabled()'>6</button>
        </span>

        <span *ngIf='!gameService.isGameInProgress()'>
          <button (click)='restartGame()' class="btn btn-danger btn-lg" [@restartButton]>Restart Game</button>
        </span>

        <span class="chat-notification text-primary" (click)='chatService.openChat()'>
          <span class="glyphicon glyphicon-comment"></span>
        </span>
        <span *ngIf='chatService.newMessages' class="chat-notification-icon" id="badge"
          (click)='chatService.openChat()'>
          <a class="badge-num">{{chatService.newMessages}}</a>
        </span>

    </div>

  </div>
