<div *ngIf='(gameStatus == GameStatus.IN_PROGRESS)' class="alert alert-info" role="alert">
  You are now {{user.batting ? "Batting" : "Bowling"}}
</div>
<div *ngIf='(gameStatus == GameStatus.USER_WON)' class="alert alert-success" role="alert">
  Game Over! You Won
</div>
<div *ngIf='(gameStatus == GameStatus.COMPUTER_WON)' class="alert alert-danger" role="alert">
  Game Over! Computer Won
</div>
<div *ngIf='(gameStatus == GameStatus.DRAW)' class="alert alert-warning" role="alert">
  Game Over! Game is Draw
</div>
