<div *ngIf='(game.gameStatus == GameStatus.IN_PROGRESS)' class="alert alert-info" role="alert">
  <span *ngIf='game.batsman.type == PlayerType.User'>You are now BATTING</span>
  <span *ngIf='game.batsman.type == PlayerType.Computer'>You are now BOWLING</span>
</div>
<div *ngIf='(game.gameStatus == GameStatus.USER_WON)' class="alert alert-success" role="alert">
  Game Over! You Won
</div>
<div *ngIf='(game.gameStatus == GameStatus.COMPUTER_WON)' class="alert alert-danger" role="alert">
  Game Over! Computer Won
</div>
<div *ngIf='(game.gameStatus == GameStatus.DRAW)' class="alert alert-warning" role="alert">
  Game Over! Game is Draw
</div>
