<div *ngIf='(gameStatus == GameStatus.No_Game)' class="alert alert-info" role="alert">
  You are now {{user.batting ? "Batting" : "Bowling"}}
</div>
<div *ngIf='(gameStatus == GameStatus.User_Won)' class="alert alert-success" role="alert">
  Game Over! You Won
</div>
<div *ngIf='(gameStatus == GameStatus.Computer_Won)' class="alert alert-danger" role="alert">
  Game Over! Computer Won
</div>
<div *ngIf='(gameStatus == GameStatus.Draw)' class="alert alert-warning" role="alert">
  Game Over! Game is Draw
</div>
