<div class="row text-center">

  <div class="col-xs-5" [@leftColumn]='gameAS.gameRestart'>
    <div class="whole">
  		<div class="type standard">
  		<p>{{playerService.getCurrentPlayer().name}}</p>
  		</div>
  	<div class="plan">
      <div class="content">
  			<ul>
          <span *ngIf='playerService.isBatsman()'>
            <li class='batting' [@battingBowling]='playerService.getCurrentPlayer().status || playerService.getOtherPlayer().status'>BATTING</li>
          </span>
          <span *ngIf='playerService.isBowler()'>
            <li class='bowling' [@battingBowling]='playerService.getCurrentPlayer().status || playerService.getOtherPlayer().status'>BOWLING</li>
          </span>
        </ul>
      </div>
  		<div class="header" [@runs]='playerService.getCurrentPlayer().runs'>
  			{{playerService.getCurrentPlayer().runs}}<span class='not-out' *ngIf='playerService.currentPlayerBatting() && !playerService.isCurrentPlayerOut()'>*</span>
  			<p class="month">runs</p>
  		</div>
      <div class="content">
      			<ul>
              <span *ngIf='playerService.getCurrentPlayer().wins || playerService.getOtherPlayer().wins'>
                <li [@wins]='playerService.getCurrentPlayer().wins'
                  [class.won]='playerService.getCurrentPlayer().wins > playerService.getOtherPlayer().wins'
                  [class.lost]='playerService.getCurrentPlayer().wins < playerService.getOtherPlayer().wins'
                  [class.draw]='playerService.getCurrentPlayer().wins == playerService.getOtherPlayer().wins'>
                  Wins {{playerService.getCurrentPlayer().wins}}
                </li>
              </span>
              <span *ngIf='!playService?.notice && playerService.getCurrentPlayer().lastDelivery != null'>
                <li class='last-played' [@played]='playerService.getCurrentPlayer().runs || playerService.getOtherPlayer().runs'>
                  Played <span class="num">{{playerService.getCurrentPlayer().lastDelivery}}</span>
                </li>
              </span>
              <span *ngIf='playService?.notice'>
                <li class='notice' [@yourTurn]='playService?.getCurrentPlayerNotice()'>
                  {{playService?.getCurrentPlayerNotice()}}
                </li>
              </span>
              <span *ngIf='!gameService.isGameInProgress()'>
                <li *ngIf='gameService.isGameDraw()' class='draw'>DRAW</li>
                <li *ngIf='playerService.currentPlayerWon()' class='won'>WON</li>
                <li *ngIf='playerService.currentPlayerLost()' class='lost'>LOST</li>
              </span>
              <span *ngIf='playerService.isCurrentPlayerOut() && gameService.isGameInProgress()'>
                <li [@out]='playerService.getCurrentPlayer().status' class="out">OUT</li>
              </span>

      			</ul>
      		</div>
  	</div>
  </div>

</div>

<div class="col-xs-2">
      <div class="row">
        <div class="progress progress-bar-vertical">
          <div class="progress-bar" role="progressbar" aria-valuenow="gameService.getGame().batsman.runs"
            aria-valuemin="0" aria-valuemax="gameService.getGame().targetScore"
            [style.height]="progressBarService.getBarHeight(playerService.getCurrentPlayer().runs, gameService.getGame().targetScore)+ '%'">
            {{playerService.getCurrentPlayer().runs}}
          </div>
          <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="gameService.getGame().batsman.runs"
            aria-valuemin="0" aria-valuemax="gameService.getGame().targetScore"
            [style.height]="progressBarService.getBarHeight(playerService.getOtherPlayer().runs, gameService.getGame().targetScore) + '%'">
            {{playerService.getOtherPlayer().runs}}
          </div>
        </div>
      </div>
    </div>

  <div class="col-xs-5" [@rightColumn]='gameAS.gameRestart'>
    <div class="whole">
  <div class="type ultimate">
  <p>{{playerService.getOtherPlayer().name}}</p>
  </div>
  <div class="plan">
    <div class="content">
      <ul>
        <span *ngIf='playerService.isOppBatsman()'>
          <li class='batting' [@battingBowling]='playerService.getCurrentPlayer().status || playerService.getOtherPlayer().status'>BATTING</li>
        </span>
        <span *ngIf='playerService.isOppBowler()'>
          <li class='bowling'  [@battingBowling]='playerService.getCurrentPlayer().status || playerService.getOtherPlayer().status'>BOWLING</li>
        </span>
      </ul>
    </div>
    <div class="header" [@runs]='playerService.getOtherPlayer().runs'>
      {{playerService.getOtherPlayer().runs}}<span class='not-out' *ngIf='playerService.otherPlayerBatting() && !playerService.isOtherPlayerOut()'>*</span>
      <p class="month">runs</p>
    </div>
    <div class="content">
      <ul>
        <span *ngIf='playerService.getCurrentPlayer().wins || playerService.getOtherPlayer().wins'>
          <li [@wins]='playerService.getOtherPlayer().wins'
            [class.won]='playerService.getCurrentPlayer().wins < playerService.getOtherPlayer().wins'
            [class.lost]='playerService.getCurrentPlayer().wins > playerService.getOtherPlayer().wins'
            [class.draw]='playerService.getCurrentPlayer().wins == playerService.getOtherPlayer().wins'>
            Wins {{playerService.getOtherPlayer().wins}}
          </li>
        </span>
        <span *ngIf='!playService?.notice && playerService.getOtherPlayer().lastDelivery != null'>
          <li class='last-played' [@played]='playerService.getCurrentPlayer().runs || playerService.getOtherPlayer().runs'>
            Played <span class="num">{{playerService.getOtherPlayer().lastDelivery}}</span>
          </li>
        </span>
        <span *ngIf='playService?.notice'>
          <li class='notice' [@yourTurn]='playService?.getOtherPlayerNotice()'>
            {{playService?.getOtherPlayerNotice()}}
          </li>
        </span>

        <span *ngIf='!gameService.isGameInProgress()'>
          <li *ngIf='gameService.isGameDraw()' class='draw'>DRAW</li>
          <li *ngIf='playerService.currentPlayerWon()' class='lost'>LOST</li>
          <li *ngIf='playerService.currentPlayerLost()' class='won'>WON</li>
        </span>
        <span *ngIf='playerService.isOtherPlayerOut() && gameService.isGameInProgress()'>
          <li [@out]='playerService.getOtherPlayer().status' class="out">OUT</li>
        </span>
      </ul>
    </div>
  </div>
</div>
  </div>

</div>

<div class="row text-center" *ngIf='showInputs'>
  <div *ngIf='gameService.isGameInProgress()'>
    <button class="btn btn-primary" [@inputButton]='gameAS.inputs[0]' (click)='clickInput(0)'>0</button>
    <button class="btn btn-primary" [@inputButton]='gameAS.inputs[1]' (click)='clickInput(1)'>1</button>
    <button class="btn btn-primary" [@inputButton]='gameAS.inputs[2]' (click)='clickInput(2)'>2</button>
    <button class="btn btn-primary" [@inputButton]='gameAS.inputs[3]' (click)='clickInput(3)'>3</button>
    <button class="btn btn-primary" [@inputButton]='gameAS.inputs[4]' (click)='clickInput(4)'>4</button>
    <button class="btn btn-primary" [@inputButton]='gameAS.inputs[5]' (click)='clickInput(5)'>5</button>
    <button class="btn btn-primary" [@inputButton]='gameAS.inputs[6]' (click)='clickInput(6)'>6</button>
  </div>

  <div *ngIf='!gameService.isGameInProgress()'>
    <button type="button" class="btn btn-primary btn-lg" (click)='choseToBat()' [@battingButton]>Batting</button>
    <button type="button" class="btn btn-warning btn-lg" (click)='choseToBowl()' [@bowlingButton]>Bowling</button>
    <button type="button" class="btn btn-danger btn-lg" (click)='toss()' [@tossCoinButton]>Toss Coin</button>
  </div>

  <div class='equal text-center daily-leaders' [@dailyLeaders]>
    <div class='col-xs-4 leader-col'>
      <div>DAILY</div>
      <div>LEADERS</div>
    </div>
    <div class='col-xs-4 max-runs'>
      <div *ngIf='statsService.playerMaxRuns'>
        <div>{{statsService.playerMaxRuns?.name | uppercase}}</div>
        <div>{{statsService.playerMaxRuns?.runs}} runs</div>
      </div>
      <div *ngIf='!statsService.playerMaxRuns'>
        <div>NONE</div>
      </div>
    </div>
    <div class='col-xs-4 max-wins'>
      <div *ngIf='statsService.playerMaxWins'>
        <div>{{statsService.playerMaxWins?.name | uppercase}}</div>
        <div>{{statsService.playerMaxWins?.wins}} wins</div>
      </div>
      <div *ngIf='!statsService.playerMaxWins'>
        <div>NONE</div>
      </div>
    </div>
  </div>
</div>
