<div class="row text-center">

  <div class="col-xs-5" [@leftColumn]='gameAS.gameRestart'>
    <div class="whole">
  		<div class="type standard">
  		<p>User</p>
  		</div>
  	<div class="plan">
      <div class="content">
  			<ul>
          <span *ngIf='PlayerType.User == game.batsman.type'>
            <li class='batting' [@battingBowling]='user.status || computer.status'>BATTING</li>
          </span>
          <span *ngIf='PlayerType.User == game.bowler.type'>
            <li class='bowling' [@battingBowling]='user.status || computer.status'>BOWLING</li>
          </span>
        </ul>
      </div>
  		<div class="header" [@runs]='user.runs'>
  			{{user.runs ? user.runs : 0}}<span class='not-out' *ngIf='PlayerType.User == game.batsman.type && !user.isOut()'>*</span>
  			<p class="month">runs</p>
  		</div>
  		<div class="content">
  			<ul>
          <span *ngIf='user.wins || computer.wins'>
            <li [@wins]='user.wins'
              [class.won]='user.wins > computer.wins'
              [class.lost]='user.wins < computer.wins'
              [class.draw]='user.wins == computer.wins'>
              Wins {{user.wins}}
            </li>
          </span>
          <span *ngIf='user.lastDelivery != null'>
            <li [@played]='user.runs || computer.runs'>Played <span class="num">{{user.lastDelivery}}</span></li>
          </span>
          <span *ngIf='game.gameStatus != GameStatus.IN_PROGRESS'>
            <li *ngIf='game.gameStatus == GameStatus.DRAW' class='draw'>DRAW</li>
            <li *ngIf='game.gameStatus == GameStatus.COMPUTER_WON' class='lost'>LOST</li>
            <li *ngIf='game.gameStatus == GameStatus.USER_WON' class='won'>WON</li>
          </span>
          <span *ngIf='user.status == PlayerStatus.Out && game.gameStatus == GameStatus.IN_PROGRESS'>
            <li [@out]='user.status' class="out">OUT</li>
          </span>
  			</ul>
  		</div>
  	</div>
  </div>

</div>

  <div class="col-xs-2">
    <div class="row">
      <div class="progress progress-bar-vertical">
        <div class="progress-bar" role="progressbar" aria-valuenow="game.batsman.runs"
          aria-valuemin="0" aria-valuemax="game.targetScore"
          [style.height]="progressBarService.getBarHeight(user.runs, game.targetScore)+ '%'">
          {{user.runs}}
        </div>
        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="game.batsman.runs"
          aria-valuemin="0" aria-valuemax="game.targetScore"
          [style.height]="progressBarService.getBarHeight(computer.runs, game.targetScore) + '%'">
          {{computer.runs}}
        </div>
      </div>
    </div>
  </div>

  <div class="col-xs-5" [@rightColumn]='gameAS.gameRestart'>
    <div class="whole ">
  		<div class="type ultimate">
  		<p>Computer</p>
  		</div>
      <div class="plan">
        <div class="content">
    			<ul>
            <span *ngIf='PlayerType.Computer == game.batsman.type'>
              <li class='batting' [@battingBowling]='user.status || computer.status'>BATTING</li>
            </span>
            <span *ngIf='PlayerType.Computer == game.bowler.type'>
              <li class='bowling' [@battingBowling]='user.status || computer.status'>BOWLING</li>
            </span>
          </ul>
        </div>
    		<div class="header" [@runs]='computer.runs'>
    			{{computer.runs ? computer.runs : 0}}<span class='not-out' *ngIf='PlayerType.Computer == game.batsman.type && !computer.isOut()'>*</span>
    			<p class="month">runs</p>
    		</div>
    		<div class="content">
    			<ul>
            <span *ngIf='user.wins || computer.wins'>
              <li [@wins]='computer.wins'
                [class.won]='user.wins < computer.wins'
                [class.lost]='user.wins > computer.wins'
                [class.draw]='user.wins == computer.wins'>
                Wins {{computer.wins}}
              </li>
            </span>
            <span *ngIf='computer.lastDelivery != null'>
              <li [@played]='user.runs || computer.runs'>Played <span class="num">{{computer.lastDelivery}}</span></li>
            </span>
            <span *ngIf='game.gameStatus != GameStatus.IN_PROGRESS'>
              <li *ngIf='game.gameStatus == GameStatus.DRAW' class='draw'>DRAW</li>
              <li *ngIf='game.gameStatus == GameStatus.COMPUTER_WON' class='won'>WON</li>
              <li *ngIf='game.gameStatus == GameStatus.USER_WON' class='lost'>LOST</li>
            </span>
            <span *ngIf='computer.status == PlayerStatus.Out && game.gameStatus == GameStatus.IN_PROGRESS'>
              <li [@out]='computer.status' class="out">OUT</li>
            </span>
    			</ul>
    		</div>
    	</div>
  </div>
  </div>

</div>

<div class="row text-center" *ngIf='showInputs'>
  <div *ngIf='game.gameStatus == GameStatus.IN_PROGRESS'>
    <button class="btn btn-primary" [@inputButton]='gameAS.inputs[0]' (click)='clickInput(0)'>0</button>
    <button class="btn btn-primary" [@inputButton]='gameAS.inputs[1]' (click)='clickInput(1)'>1</button>
    <button class="btn btn-primary" [@inputButton]='gameAS.inputs[2]' (click)='clickInput(2)'>2</button>
    <button class="btn btn-primary" [@inputButton]='gameAS.inputs[3]' (click)='clickInput(3)'>3</button>
    <button class="btn btn-primary" [@inputButton]='gameAS.inputs[4]' (click)='clickInput(4)'>4</button>
    <button class="btn btn-primary" [@inputButton]='gameAS.inputs[5]' (click)='clickInput(5)'>5</button>
    <button class="btn btn-primary" [@inputButton]='gameAS.inputs[6]' (click)='clickInput(6)'>6</button>
  </div>

  <div *ngIf='(game.gameStatus == GameStatus.USER_WON) ||
    (game.gameStatus == GameStatus.COMPUTER_WON) ||
    (game.gameStatus == GameStatus.DRAW)'>
    <button type="button" class="btn btn-primary btn-lg" (click)='choseToBat()' [@battingButton]>Batting</button>
    <button type="button" class="btn btn-warning btn-lg" (click)='choseToBowl()' [@bowlingButton]>Bowling</button>
    <button type="button" class="btn btn-danger btn-lg" (click)='toss()' [@tossCoinButton]>Toss Coin</button>
  </div>

  <div class='equal text-center daily-leaders' [@dailyLeaders]>
    <div class='col-xs-4 leader-col'>
      <div>DAILY</div>
      <div>LEADERS</div>
    </div>
    <div class='col-xs-4 max-runs'>
      <div *ngIf='statsService.playerMaxRuns'>
        <div>{{statsService.playerMaxRuns?.name | uppercase}}</div>
        <div>{{statsService.playerMaxRuns?.runs}} runs</div>
      </div>
      <div *ngIf='!statsService.playerMaxRuns'>
        <div>NONE</div>
      </div>
    </div>
    <div class='col-xs-4 max-wins'>
      <div *ngIf='statsService.playerMaxWins'>
        <div>{{statsService.playerMaxWins?.name | uppercase}}</div>
        <div>{{statsService.playerMaxWins?.wins}} wins</div>
      </div>
      <div *ngIf='!statsService.playerMaxWins'>
        <div>NONE</div>
      </div>
    </div>
  </div>
</div>
