GameID: {{game?.id}}

<!-- Get Player Details -->
<div *ngIf='!isInfoSaved'>
  <form>
  <div class="form-group">
    <label for="playerName">Enter your name: </label>
    <input type='text' class='form-control' name='name' [(ngModel)]='player.name' />
  </div>
  <button type="button" class="btn btn-success btn-lg"
    *ngIf='player.name?.length > 0' (click)='isInfoSaved = true'>Save</button>
  </form>
</div>

<!-- Ask Host or Join -->
<div *ngIf='isInfoSaved && !player.type'>
  <h3>Would you like to Host or Join a Game?</h3>
  <button type="button" class="btn btn-primary btn-lg" (click)='setHost()'>Host</button>
  <button type="button" class="btn btn-success btn-lg" (click)='setGuest()'>Join</button>
</div>

<!-- Display Game ID -->
<div *ngIf='player.type == PlayerType.Host'>
  Share this Game ID to your friend: {{game?.id}}
</div>

<!-- Receive Game ID -->
Is Game Connected: {{gameService.isConnected(game)}}
<div *ngIf='player.type == PlayerType.Guest'>
  <form *ngIf='!gameService.isConnected(game)'>
  <div class="form-group">
    <label for="playerName">Enter your Game ID: </label>
    <input type='text' class='form-control' name='gameId' [(ngModel)]='game.id' />
  </div>
  <button type="button" class="btn btn-success btn-lg"
    (click)='joinGame()'>Enter Game</button>
  </form>

  <div>
    <p *ngIf='gameService.isConnected(game)'>
      You are connected to the game!
    </p>
    <p *ngIf='!gameService.isConnected(game)'>
      You are not yet connected to any game!
    </p>
  </div>
</div>
