<div class="whole">
  <div class="type ultimate">
    <p>{{player.name}}</p>
  </div>
  <div class="plan">
    <div class="content">
      <ul>
        <span *ngIf='player.id == game.batsman.id'>
          <li class='batting' [@battingBowling]='player.status'>BATTING</li>
        </span>
        <span *ngIf='player.id == game.bowler.id'>
          <li class='bowling' [@battingBowling]='player.status'>BOWLING</li>
        </span>
      </ul>
    </div>
    <div class="header" [@runs]='player.runs'>
      {{player.runs ? player.runs : 0}}<span class='not-out' *ngIf='player.id == game.batsman.id && isGameInProgress()'>*</span>
      <p class="month">runs</p>
    </div>
    <div class="content">
      <ul>
        <span *ngIf='player.wins || otherPlayer.wins'>
          <li [@wins]='player.wins'
          [class.won]='player.wins > otherPlayer.wins'
          [class.lost]='player.wins < otherPlayer.wins'
          [class.draw]='player.wins == otherPlayer.wins'>
            Wins {{player.wins}}
          </li>
        </span>
      <span *ngIf='!notice && player.lastDelivery != null'>
        <li class='last-played' [@played]='player.runs || otherPlayer.runs'>
          Played <span class="num">{{player.lastDelivery}}</span>
        </li>
      </span>
      <span *ngIf='notice'>
        <li class='notice' [@yourTurn]='playerNotice'>
          {{playerNotice}}
        </li>
      </span>
      <span *ngIf='!isGameInProgress()'>
        <li *ngIf='isGameDraw()' class='draw'>DRAW</li>
        <li *ngIf='isPlayerLost()' class='lost'>LOST</li>
        <li *ngIf='isPlayerWon()' class='won'>WON</li>
      </span>
      <span *ngIf='isPlayerOut() && isGameInProgress()'>
        <li [@out]='player.status' class="out">OUT</li>
      </span>
    </ul>
  </div>
</div>
</div>
