<!-- <nav class="navbar">
    <ul class="nav nav-tabs">
      <li routerLinkActive="active">
        <a routerLink="/offlineGame">Play Computer</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/onlineGame">Play Online</a>
      </li>
    </ul>
</nav> -->

<span class='menu-open' (click)="openNav()">&#9776;</span>

<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
  <a href="javascript:void(0)" (click)="reloadPage()">Home</a>
  <a routerLinkActive="active" routerLink="/offlineGame" (click)="closeNav()">Play Computer</a>
  <a routerLinkActive="active" routerLink="/onlineGame" (click)="closeNav()">Play Online</a>
</div>
